body {
    font-size: 16px;
    font-family: sans-serif;
    background-color: hsl(180, 35%, 90%);
}

nav {
    float: left;
    position: fixed;
    max-width: 20vw;
    line-height: 1.5rem;
    background-color: hsl(140,25%,90%);
    height: 100vh;
    border-radius: 2%;
    box-shadow: 2px 1px 1px hsl(140,25%,30%);
    padding: 0.5rem;
}

main {
    position: relative;
    left: 21vw;
    max-width: 70vw;
    line-height: 2.5rem;
    padding: 1em 5vw;
}

p {
    font-size: 1.15rem;
    letter-spacing: 0.05em;
    word-spacing: 0.015em;
}

a {
    color: hsl(300, 70%, 20%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
